
@{
    ViewBag.Title = "Dashboard";
}
<h2>SAMBARI ENTERPRISES – COMPANY LIST</h2>

<h3>Abbott India Limited</h3>

<h3>Aksigen Hospital Care</h3>

<h3>Alembic Limited</h3>

<h3>Allergan India Limited</h3>

<h3>Bayer India Limited</h3>

<h3>Boehringer Ingelheim</h3>

<h3>Cadila Pharmaceuticals Limited</h3>

<h3>Cipla Limited</h3>

<h3>Dr. Reddy’s Laboratories</h3>

<h3>Ferring Pharmaceuticals</h3>

<h3>Glaxo India Limited</h3>

<h3>H &amp; H Pharmaceuticals</h3>

<h3>Icon Life Sciences</h3>

<h3>Indoco Remedies Limited</h3>

<h3>KLM Labs Limited</h3>

<h3>Lupin Pharmaceuticals</h3>

<h3>Merck Limited</h3>

<h3>Nutricia International Limited</h3>

<h3>Pfizer Limited</h3>

<h3>Reliance Life Sciences – Relicare Div</h3>

<h3>RPG Life Sciences</h3>

<h3>Septalyst Life Sciences</h3>

<h3>Siochem Pharmaceuticals</h3>

<h3>USV Limited</h3>

<h3>Win Medicare Limited</h3>

<h3>Zydus Pharma Limited</h3>

